In [3]:
import pandas as pd

data_filename = 'https://raw.githubusercontent.com/neowalter/DA-tour/master/charpter3/basketball.csv' 
dataset = pd.read_csv(data_filename)
dataset.head(5)

              Date Start (ET)       Visitor/Neutral  ...  Unnamed: 7 Attend.  Notes
0  Tue Oct 27 2015      8:00p   Cleveland Cavaliers  ...         NaN   21957    NaN
1  Tue Oct 27 2015      8:00p       Detroit Pistons  ...         NaN   19187    NaN
2  Tue Oct 27 2015     10:30p  New Orleans Pelicans  ...         NaN   19596    NaN
3  Wed Oct 28 2015      7:00p    Washington Wizards  ...         NaN   18846    NaN
4  Wed Oct 28 2015      7:30p    Philadelphia 76ers  ...         NaN   18624    NaN

[5 rows x 10 columns]

In [5]:
dataset = pd.read_csv(data_filename, parse_dates=["Date"])
dataset.drop(columns='Attend.', inplace=True)
dataset.columns = ["Date", "Start (ET)", "Visitor Team", "VisitorPts", "Home Team", "HomePts", "OT?", "Score type", "Notes"]
dataset.head()

        Date Start (ET)          Visitor Team  ...        OT? Score type  Notes
0 2015-10-27      8:00p   Cleveland Cavaliers  ...  Box Score        NaN    NaN
1 2015-10-27      8:00p       Detroit Pistons  ...  Box Score        NaN    NaN
2 2015-10-27     10:30p  New Orleans Pelicans  ...  Box Score        NaN    NaN
3 2015-10-28      7:00p    Washington Wizards  ...  Box Score        NaN    NaN
4 2015-10-28      7:30p    Philadelphia 76ers  ...  Box Score        NaN    NaN

[5 rows x 9 columns]

In [6]:
print(dataset.dtypes)

Date            datetime64[ns]
Start (ET)              object
Visitor Team            object
VisitorPts               int64
Home Team               object
HomePts                  int64
OT?                     object
Score type              object
Notes                   object
dtype: object

In [7]:
dataset["HomeWin"] = dataset["VisitorPts"] < dataset["HomePts"]
y_true = dataset["HomeWin"].values

In [8]:
dataset["HomeWin"].mean()

0.5942249240121581

In [9]:
from collections import defaultdict
won_last = defaultdict(int)
dataset["HomeLastWin"] = 0
dataset["VisitorLastWin"] = 0

In [10]:
# 鉴于我们这里是对时序进行操作的
# 对于非时序排列的数据需要用
# dataset.sort("Date").iterrows() 
for index, row in dataset.iterrows():
    home_team = row["Home Team"]
    visitor_team = row["Visitor Team"]
    row["HomeLastWin"] = won_last[home_team]
    dataset.at[index, "HomeLastWin"] = won_last[home_team]
    dataset.at[index, "VisitorLastWin"] = won_last[visitor_team]

    won_last[home_team] = int(row["HomeWin"])
    won_last[visitor_team] = 1 - int(row["HomeWin"])

In [12]:
dataset.loc[1000:1005]

           Date Start (ET)  ... HomeLastWin  VisitorLastWin
1000 2016-03-15      8:30p  ...           1               0
1001 2016-03-15     10:30p  ...           0               0
1002 2016-03-16      7:00p  ...           0               1
1003 2016-03-16      7:00p  ...           0               1
1004 2016-03-16      7:00p  ...           0               1
1005 2016-03-16      7:00p  ...           1               1

[6 rows x 12 columns]

In [13]:
from sklearn.tree import DecisionTreeClassifier
# 修改这里的随机值可以得到不同的预测结果
clf = DecisionTreeClassifier(random_state=14)
X_previouswins = dataset[["HomeLastWin", "VisitorLastWin"]].values

from sklearn.model_selection import cross_val_score
import numpy as np
scores = cross_val_score(clf, X_previouswins, y_true,
                          scoring='accuracy')
print("Accuracy: {0:.1f}%".format(np.mean(scores) * 100))

Accuracy: 59.4%

In [15]:
standings_filename = "https://raw.githubusercontent.com/neowalter/DA-tour/master/charpter3/standings.csv"
standings = pd.read_csv(standings_filename)
standings.head()

   Rk                   Team Overall   Home   Road  ...   Dec   Jan  Feb   Mar  Apr
0   1  Golden State Warriors   67-15   39-2  28-13  ...  11-3  12-3  8-3  16-2  6-2
1   2          Atlanta Hawks   60-22   35-6  25-16  ...  14-2  17-0  7-4   9-7  4-3
2   3        Houston Rockets   56-26  30-11  26-15  ...   9-5  11-6  7-3  10-6  6-2
3   4   Los Angeles Clippers   56-26  30-11  26-15  ...  11-6  11-4  5-6  11-5  7-0
4   5      Memphis Grizzlies   55-27  31-10  24-17  ...   8-6  12-4  7-4   9-8  4-3

[5 rows x 24 columns]

In [16]:
dataset["HomeTeamRanksHigher"] = 0
for index, row in dataset.iterrows():
    home_team = row["Home Team"]
    visitor_team = row["Visitor Team"]
    home_rank = standings[standings["Team"] == home_team]["Rk"].values[0]
    visitor_rank = standings[standings["Team"] == visitor_team]["Rk"].values[0]
    dataset.at[index, "HomeTeamRanksHigher"] = int(home_rank < visitor_rank)
    
X_homehigher = dataset[["HomeTeamRanksHigher", "HomeLastWin", "VisitorLastWin",]].values
clf = DecisionTreeClassifier(random_state=14, criterion="entropy")
scores = cross_val_score(clf, X_homehigher, y_true, scoring='accuracy')
print("Accuracy: {0:.1f}%".format(np.mean(scores) * 100))

Accuracy: 61.8%

In [17]:
last_match_winner = defaultdict(int)
dataset["HomeTeamWonLast"] = 0

for index, row in dataset.iterrows():
    home_team = row["Home Team"]
    visitor_team = row["Visitor Team"]
    teams = tuple(sorted([home_team, visitor_team]))  # Sort for a consistent ordering
    # Set in the row, who won the last encounter
    home_team_won_last = 1 if last_match_winner[teams] == row["Home Team"] else 0
    dataset.at[index, "HomeTeamWonLast"] = home_team_won_last

    # Who won this one?
    winner = row["Home Team"] if row["HomeWin"] else row["Visitor Team"]
    last_match_winner[teams] = winner

X_lastwinner = dataset[[ "HomeTeamWonLast", "HomeTeamRanksHigher", "HomeLastWin", "VisitorLastWin",]].values
clf = DecisionTreeClassifier(random_state=14, criterion="entropy")
scores = cross_val_score(clf, X_lastwinner, y_true, scoring='accuracy')
print("Accuracy: {0:.1f}%".format(np.mean(scores) * 100))

Accuracy: 62.4%

In [18]:
from sklearn.preprocessing import LabelEncoder
encoding = LabelEncoder()
encoding.fit(dataset["Home Team"].values)
home_teams = encoding.transform(dataset["Home Team"].values)
visitor_teams = encoding.transform(dataset["Visitor Team"].values)
X_teams = np.vstack([home_teams, visitor_teams]).T

from sklearn.preprocessing import OneHotEncoder
onehot = OneHotEncoder()
X_teams = onehot.fit_transform(X_teams).todense()
clf = DecisionTreeClassifier(random_state=14)
scores = cross_val_score(clf, X_teams, y_true, scoring='accuracy')
print("Accuracy: {0:.1f}%".format(np.mean(scores) * 100))

Accuracy: 63.7%

In [19]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=14)
scores = cross_val_score(clf, X_teams, y_true, scoring='accuracy')
print("Accuracy: {0:.1f}%".format(np.mean(scores) * 100))

Accuracy: 64.7%

In [20]:
X_all = np.hstack([X_lastwinner, X_teams])
clf = RandomForestClassifier(random_state=14)
scores = cross_val_score(clf, X_all, y_true, scoring='accuracy')
print("Accuracy: {0:.1f}%".format(np.mean(scores) * 100))

Accuracy: 64.4%

In [21]:
from sklearn.model_selection import GridSearchCV
parameter_space = {
    "max_features": [2, 10, 'auto'],
    "n_estimators": [100, 200],
    "criterion": ["gini", "entropy"],
    "min_samples_leaf": [2, 4, 6],
}
clf = RandomForestClassifier(random_state=14)
grid = GridSearchCV(clf, parameter_space)
grid.fit(X_all, y_true)
print("Accuracy: {0:.1f}%".format(grid.best_score_ * 100))

Accuracy: 67.7%

In [22]:
print(grid.best_estimator_)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=4, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=14, verbose=0,
                       warm_start=False)